# Dependencies
node_modules
.pnp
.pnp.js
.swc

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store
*.pem

# IDE
.idea
.vscode

# Azure functions
bin
obj
csx
.vs
edge
Publish
*.user
*.suo
*.cscfg
*.Cache
project.lock.json
/TestResults
/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

# Azurite
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Bruno
/bruno/**/environments/*PROD*.bru

# New Relic
newrelic_agent.log
*storybook.log